.main {
    display:flex;
    flex-direction: column;
    justify-content: space-between;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    border:1px solid #e9ebec;
    background-color:white;
}